@model TradingCardventory.Models.Card

<div class="row">
    <div class="col-md-6">
        <img src="@Model.HighResImg" width="300" height="400">
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Card Name:</label>
            <label>@Model.CardName</label>
        </div>
        <div class="form-group">
            <label class="control-label">Rarity:</label>
            <label>@Model.Rarity</label>
        </div>
        <div class="form-group">
            <label class="control-label">Supertype:</label>
            <label>@Model.Supertype</label>
        </div>
        <div class="form-group">
            <label class="control-label">Series:</label>
            <label>@Model.SetName</label>
        </div>
        <div class="form-group">
            <input type="button" value="Delete Card" onclick="location.href='@Url.Action("DeleteCardPost", Model)'" />
        </div>
    </div>
</div>